body {
  font-size: 16px;
  font-family: 'Lato', sans-serif !important;
  background-size: cover;
  color: #454545;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
  /* to make the image responsive */
}
h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif !important;
  color: #454545;
}
.card {
  box-shadow: 0px 0px 4px 3px rgba(80, 80, 80, 0.2);
  padding: 20px 30px;
  margin: 0 0 20px;
  font-size: 18px;
  border-radius: 4px;
}
.alert-success {
  background: #009202;
  color: #fff;
}
.alert-danger {
  background: #940303;
  color: #fff;
}
#back-to-home {
  margin: 20px 0px;
}
.input-group-addon.field-error {
  background: #940303;
  border: 1px solid #940303;
  color: #fff;
}
.input-group-addon.field-ok {
  background: #009202;
  border: 1px solid #009202;
  color: #fff;
}
.form-control {
  font-size: 18px;
  height: 38px;
}
header .staff-log-out {
  float: right;
}
header .staff-log-out a {
  color: #fff;
}
header .jumbotron {
  background-image: linear-gradient(rgba(110, 110, 110, 0.1), rgba(32, 32, 32, 0.8)), url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: auto;
  padding: 30px 0;
}
header .jumbotron img {
  max-height: 120px;
}
header #main-nav ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -50px;
}
header #main-nav ul li {
  display: inline-block;
  margin: 0 10px;
}
header #main-nav ul li a {
  color: #fff;
}
header #main-nav ul li:first-child {
  margin-left: 0;
}
header #main-nav ul li:last-child {
  margin-right: 0;
}
header #main-nav ul li:last-child a {
  color: #fff;
  background: transparent;
  padding: 15px 20px;
  border: 2px solid #fff;
  border-radius: 30px;
}
header #main-nav ul li:last-child a:hover,
header #main-nav ul li:last-child a:focus {
  color: #000;
  background: #fff;
  text-decoration: none;
}
#mission-statement p {
  margin: 10px;
}
.line-link {
  color: white;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  background: #d67410;
  border-radius: 4px;
}
.line-link:hover,
.line-link:focus {
  color: white;
  text-decoration: none;
  box-shadow: 0 0 8px 1px #585858;
  background: #c56c10;
}
.line-link .glyphicon {
  top: 2px;
  padding-right: 10px;
}
.volunteer-btns .line-link {
  width: inherit;
}
.success-link {
  background: #009202;
}
.success-link:hover,
.success-link:focus {
  background: #009202;
}
footer {
  background: rgba(52, 52, 52, 0.9);
  color: #fff;
  margin-top: 15px;
}
.footer-section {
  margin: 30px 0px;
}
footer .address {
  font-size: 18px;
  color: #fff;
}
footer .address h4 img {
  max-width: 150px;
}
footer .address a {
  color: #fff;
}
footer .address a:hover {
  color: #6fbeff;
}
.req-field-warning-badge {
  color: #940303;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 9px;
  border-radius: 4px;
  float: right;
}
#first-time-vol label {
  margin-right: 15px;
}
.wizard-section div {
  border-radius: 4px;
  background: #009202;
  color: #fff;
  padding: 15px;
}
#sign-in-form .panel-group {
  margin: 20px 0px;
}
#sign-in-form .panel-group a.collapsed .glyphicon {
  transition: all 0.3s ease-out;
  transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
#sign-in-form .panel-group a .glyphicon {
  transition: all 0.3s ease-out;
  transform: rotateZ(135deg);
  -ms-transform: rotateZ(135deg);
  -webkit-transform: rotateZ(135deg);
}
#sign-in-form .panel .glyphicon {
  margin-right: 6px;
}
#preferences {
  text-align: center;
  margin-top: 20px;
}
.contribute {
  text-align: center;
}
.contribute .contribute-button {
  color: #fff;
  background: #940303;
  margin-bottom: 15px;
}
.contribute .contribute-button:hover {
  color: #E5E5E5;
  box-shadow: 0 0 20px 1px rgba(20, 20, 20, 0.8);
}
section {
  border: 1px solid #000;
  padding: 10px;
  overflow: hidden;
}
.indent-1 {
  padding-left: 120px;
}
section > section {
  float: left;
}
.attendee-wrap {
  margin: 30px 0;
}
.attendee-wrap .attendee .remove {
  margin: 27px 0 0 10px;
}
#filter-section .btn-default {
  border: 1px solid rgba(22, 22, 22, 0.35);
}
#management-form h1 {
  margin-top: 30px;
}
#management-form .details-btn {
  border: 1px solid #aaa;
  color: #000;
  border-radius: 30px;
  margin-right: 30px;
  padding: 15px 30px;
}
#management-form .back {
  cursor: pointer;
}
#management-form .back.details-btn {
  margin-right: 0;
}
#management-form .edit-period {
  color: #aaa;
}
#management-form .edit-period:hover,
#management-form .edit-period:focus {
  color: #000;
}
.manage-action {
  padding: 0 8px;
}
.manage-action:hover {
  text-decoration: none;
}
.boom .value {
  font-size: 42px;
  padding: 10px;
  display: inline-block;
}
h2 .program-chart-options {
  font-size: 14px;
}
h2 .program-chart-options a {
  padding: 0px 15px;
}
#total-hours {
  color: #009202;
}
.reset-password-wrap {
  padding: 15px;
  background: #eee;
  overflow: auto;
  margin-bottom: 15px;
  border-radius: 4px;
}
.hide-it {
  display: none;
}
.show-it {
  display: block;
}
.alert p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  header #main-nav ul {
    float: none;
    display: block;
    margin: 30px 0;
  }
  header #main-nav ul li {
    display: block;
    margin: 15px 0;
  }
  header #main-nav ul li:first-child,
  header #main-nav ul li:last-child {
    margin: 30px 0 0 0;
  }
  #mission-statement {
    margin: 0px 20px 25px;
  }
  footer {
    text-align: center;
  }
  .attendee-wrap .attendee .remove {
    margin: 0 0 30px 10px;
  }
  .req-field-warning-badge {
    font-size: 14px;
    margin: 10px 0px;
  }
}
